<div id="contents">
	<div id="adbox">
		<img src="images/{{hero.image}}" alt="Img">
		<h1>{{hero.headline}}</h1>
		<p>{{hero.body}}</p>
	</div>
	<div id="main">
		<div class="box">
			<div>
				<div>
					<h3>Latest Blog</h3>
					<ul>
						{{#each blogPosts}}
						<li>
							<h4><a href="{{this.url}}">{{this.title}}</a></h4>
							<span>{{this.date}}</span>
							<p>{{this.excerpt}}</p>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div id="testimonials" class="box">
			<div>
				<div>
					<h3>Testimonials</h3>
					<p>
						"{{testimonial.quote}}" <span>- <a href="{{testimonial.url}}">{{testimonial.author}}</a></span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="sidebar">
		{{#each sidebar}}
		<div class="section">
			<a href="{{this.url}}"><img src="images/{{this.image}}" alt="Img"></a>
		</div>
		{{/each}}
	</div>
</div>
