<div id="contents">
	<div class="box">
		<div>
			<div id="news" class="body">
				<div class="sidebar">
					<h3>Latest News</h3>
					<ul>
						{{#each latestNews}}
						<li><a href="{{this.url}}">{{this.title}}</a></li>
						{{/each}}
					</ul>
					<h3>Vaction Tips</h3>
					<ul>
						{{#each vacationTips}}
						<li><a href="{{this.url}}">{{this.title}}</a></li>
						{{/each}}
					</ul>
				</div>
				<div>
					<h1>News</h1>
					<img src="images/{{featured.image}}" alt="Img">
					<h2>{{featured.title}}</h2>
					<span class="time">{{featured.date}}<br> by: {{featured.author}}</span>
					{{#each featured.body}}
					<p>{{this}}</p>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
